<div class="container">
  <nav class="navbar bg-body-tertiary mt-5">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Users Information</a>
    </div>
  </nav>
  <div class="mt-5">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">user_id</th>
          <th scope="col">username</th>
          <th scope="col">email</th>
          <th scope="col">password</th>
          <th scope="col">update</th>
          <th scope="col">delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (let i = 0; i < mappedUsers.length; i++) { %>
          <tr>
            <th scope="row"><%= mappedUsers[i].userId %></th>
            <td><%= mappedUsers[i].username %></td>
            <td><%= mappedUsers[i].email %></td>
            <td><%= mappedUsers[i].password %></td>
            <td> <button onClick="">Update</button></td>
            <td> <button onclick="blogDelete('<%=mappedUsers[i].userId %>')">Delete</button></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <script>

    function blogDelete(userId){
      fetch(`blogs/${userId}`,{
        method:'Delete'
      }).then((res)=>{
        window.location.reload();
      })
    }
  </script>
</div>


